.root {
    margin-top: 30px;
    flex-grow: 1;
}
.version-select {
    margin-top: -7px;
}
.comments {
    max-width: 100%
}
.general-comment-submit {
    padding-top: 2%;
    margin-left: 80%;
}
.data-loader {
    overflow: 'hidden';
    height: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 150px;
}